body{
    font-family: Arial, sans-serif;
    background: linear-gradient(white, lightblue, dodgerblue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    margin-bottom: 20px;
    color: dodgerblue;
}

form{
    background-color: aliceblue;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px lightsteelblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

label{
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 12px;
}

button[type="submit"]{
    margin-top: 20px;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;
}

button[type="submit"]:hover{
    background-color: skyblue;
}

.toggle-password{
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 0.8em;
    color: dodgerblue;
    cursor: pointer;
    user-select: none;
}

.toggle-password:hover{
    text-decoration: underline;
}

#error-message{
    font-weight: bold;
    font-size: small;
}