/* Script om de sidebar vorm te geven die in elk scherm zichtbaar is */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 5px 1px rgba(0,0,0,0.1);
    z-index: 100;
    transition: left 0.3s ease;
}

.sidebar-responsive{
    left: 0;
    box-shadow: 0 0 10px blue;
}

.sidebar-list{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 16px;
    list-style: none;
}

.sidebar-list li{
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 10px 12px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background;
}

.sidebar-list li:hover{
    background-color: dodgerblue;
}

.sidebar-list li .material-icons-outlined{
    margin-right: 10px;
    font-size: 18px;
    color: grey;
}
.sidebar-list li span:last-child{
    font-size: 15px;
    color: grey;
    font-weight: 400;
}

.sidebar-list li:hover .material-icons-outlined,
.sidebar-list li:hover span:last-child{
    color: white;
}

.sidebar-list li a{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 6px;
    color: grey;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all;
}

.sidebar-list li a:hover{
    background-color: dodgerblue;
    color: white;
}

.sidebar-list li a:hover .material-icons-outlined{
    color: white;
    text-decoration: underline;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 600;
}

.sidebar-title > span {
    display: none;
}

.sidebar-sublist{
    list-style-type: none;
    padding-left: 30px;
    margin-top: -4px;
}

.sidebar-sublist li{
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.sidebar-sublist li a{
    color: grey;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.sidebar-sublist li:hover a{
    color: white;
    text-decoration: underline;
}

.sidebar-sublist li span.material-icons-outlined{
    font-size: 8px;
    margin-right: 8px;
    color: grey;
}

/* ----------- Profiel icoon ---------- */
/* CSS voor het profiel icoon rechts bovenin het scherm om uit te loggen */


.profile-container{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px whitesmoke;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 140px;
}

.dropdown-menu.show{
    display: block;
}

.logout-link{
    display: block;
    font-weight: bold;
    background-color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background-color 0.2s ease;
    text-align: left;
    width: 100%;
    text-decoration: none;
}

.logout-link:hover{
    background-color: white;
    text-decoration: underline;
}

/* CSS script om de sidebar te verbergen wanneer het scherm te klein wordt*/
@media screen and (max-width: 992px) {
    #sidebar {
        left: -260px
    }

    #sidebar.sidebar-responsive {
        left: 0;
        box-shadow: 0 0 10px;
    }

    .menu-icon {
        display: inline;
        cursor: pointer;
    }

    .sidebar-title > span {
        display: inline;
        cursor: pointer;
    }

}



