body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, white, lightblue, dodgerblue);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}

form{
    display: grid;
    gap: 1rem;
    max-width: 2000px;
    padding: 2rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.main-container {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: auto;
    padding: 3rem 2rem 2rem 2rem;
    margin-top: 1rem;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: dodgerblue;
}

label{
    font-weight: bold;
}

button{
    background-color: dodgerblue;
    color: white;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: deepskyblue;
}

input[type='text'],
input[type='date'],
input[type='number'],
textarea,
select{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
    border-color: dodgerblue;
    outline: none;
}

#gegevensMelding{
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    background: white;
    color: darkslategrey;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
body.popup-open{
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
}

.profile-container{
    position: relative;
}

.logout-menu{
    position: absolute;
    top: 35px;
    right: 0;
    background-color: white;
    border: 1px whitesmoke;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 100;
    display: none;
}

.logout-menu button{
    background: none;
    border: none;
    color: dodgerblue;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    width: 100%;
    padding: 5px 10px;
}

.logout-menu button:hover{
    text-decoration: underline;
}